<%- include ('_layout/header') -%>

    <div class="container text-center my-5">
        <h3>404 Pagina non trovata</h3>
        <h1>Penso che ti sia perso &#128565</h1>
        <h4 class="mt-2"><a href="/">Torna alla Homepage</a></h4>
    </div>

<%- include ('_layout/footer') -%>